<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>登录页面</h1>
  <form action="/login" method="post">
    <div class="item">
      <label>用户名：</label>
      <input type="text" name="userName">
    </div>
    <div class="item">
      <label>密码：</label>
      <input type="password" name="password">
    </div>
    <div class="item">
      <button type="submit">提交</button>
    </div>
  </form>
  <img src="/getImg" alt="">
</body>
</html>